<br/>
<br/>
<br/>
<h1>Karthik Vemula Raja</h1>
<h2>Working on Flights</h2>
<br/>
<br/>
<body class ="kv" style ="background-repeat:no-repeat;background-size:cover;background-position:center" background="http://s1.1zoom.me/b5240/153/Painting_Art_Fighter_Airplane_Northrop_F-5E_Tiger_531811_1920x1080.jpg">
<head><title>Karthik Raja Vemula</title></head>
<div class="container">
    
        <div class="row">
          <div class="col-md-2"> 
        <img src="https://lh3.googleusercontent.com/OREdYqYXLASBir8LcPipzbk3jUz8LsV-eQW3nKF2G7bKeUyygjAJzCAXX4nP1N24V0OCNA=s85" class="img-circle
        " alt="Cinque Terre" width="304" height="236"> 
      </div>
      </div>
      </div>
          <div class="row">
            <div class="col-md-1">
                <iframe width="424" height="238" src="https://www.youtube.com/embed/5v2DP3HPEXQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div></div>

<body class="ee">
<article>
<section>
<h1>Current</h1>
<p>I am pursuing my masters in Applied Computer Science and this is my first semester.</p>
</section>
<h1>Background</h1>
<p>I am from Hyderabad, India. I pursued my UG from RMK Engineering College, Chennai.</p>
</section>
<section>
<h1>Plans</h1>
<p>In future i wanna be a knowledgeable software developer by the end of my semesters.</p>
</section>
<aside>
<h1>Hobbies</h1>
<p>My hobbies are playing video games, cooking and browsing</p>
<div>
</div>

</aside>
<footer>Thank You</footer>


</body>