<style>
  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #dfd9dd}

th {
    background-color: rgb(119, 105, 117);
    color: white;
}
  </style>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>Flights..!! of Planes..!! contains Pilots..!!</h1>
      <br/>
      <hr>
      <h3>Project-14 Members</h3>
      <h5><b><i>Vyshnavi Srilaxmi Thannir</i></b></h5>
      <h5><b><i>Karthik Raja vemula</i></b></h5>
      <br/>
      <table style="width:100%"><i>
      <tr>
        <th>GET a view for Flights</th>
        <th>GET a view for Planes</th> 
        <th>GET a view for Pilots</th>
      </tr>
      <tr>
        <td>
            <a href="http://localhost:8089/flight">http://localhost:8089/flight</a> 
        </td>
        <td>
          <a href="http://localhost:8089/plane">http://localhost:8089/plane</a>
        </td>
        <td>
          <a href="http://localhost:8089/pilot">http://localhost:8089/pilot</a>
          </td>
      </tr>

      <tr>
        <td>
     <a href="http://localhost:8089/flight/create">http://localhost:8089/flight/create</a>
       </td>
       <td>
          <a href="http://localhost:8089/plane/create">http://localhost:8089/plane/create</a>
        </td>
        <td>
            <a href="http://localhost:8089/pilot/create">http://localhost:8089/pilot/create</a>
            </td>
      </tr>
      <tr>
        <td> <a href="http://localhost:8089/flight/edit/1">http://localhost:8089/flight/edit/1</a></td>
        <td>
            <a href="http://localhost:8089/plane/edit/1">http://localhost:8089/plane/edit/1</a>
          </td>
          <td>
              <a href="http://localhost:8089/pilot/edit/1">http://localhost:8089/pilot/edit/1</a>
              </td>
      </tr>
      <tr>
          <td>
              <a href="http://localhost:8089/flight/edit/2">http://localhost:8089/flight/edit/2</a>
            </td>
            <td>
                <a href="http://localhost:8089/plane/edit/2">http://localhost:8089/plane/edit/2</a>
              </td>
              <td>
                  <a href="http://localhost:8089/pilot/edit/2">http://localhost:8089/pilot/edit/2</a>
               </td>
      </tr>
      <tr>
          <td>
              <a href="http://localhost:8089/flight/edit/3">http://localhost:8089/flight/edit/3</a>
            </td>
          <td>
              <a href="http://localhost:8089/plane/edit/3">http://localhost:8089/plane/edit/3</a>
            </td>
          <td>
              <a href="http://localhost:8089/pilot/edit/3">http://localhost:8089/pilot/edit/3</a>
            </td>
      </tr>
      <tr>
          <td>
              <a href="http://localhost:8089/flight/edit/4">http://localhost:8089/flight/edit/4</a>
            </td>
            <td>
                <a href="http://localhost:8089/plane/edit/4">http://localhost:8089/plane/edit/4</a>
              </td>
              <td>
                  <a href="http://localhost:8089/pilot/edit/4">http://localhost:8089/pilot/edit/4</a>
               </td>
      </tr>
      <tr>
          <td>
              <a href="http://localhost:8089/flight/delete/1">http://localhost:8089/flight/delete/1</a>
            </td>
          <td>
              <a href="http://localhost:8089/plane/delete/1">http://localhost:8089/plane/delete/1</a>
            </td>
          <td>
              <a href="http://localhost:8089/pilot/delete/1">http://localhost:8089/pilot/delete/1</a>
            </td>        
      </tr>
      <tr>
          <td>
              <a href="http://localhost:8089/flight/delete/2">http://localhost:8089/flight/delete/2</a>
            </td>
            <td>
                <a href="http://localhost:8089/plane/delete/2">http://localhost:8089/plane/delete/2</a>
              </td>
              <td>
                  <a href="http://localhost:8089/pilot/delete/2">http://localhost:8089/pilot/delete/2</a>
                </td>
      </tr>
      <tr>
          <td>
              <a href="http://localhost:8089/flight/delete/3">http://localhost:8089/flight/delete/3</a>
            </td>
          <td>
              <a href="http://localhost:8089/plane/delete/3">http://localhost:8089/plane/delete/3</a>
            </td>
          <td>
              <a href="http://localhost:8089/pilot/delete/3">http://localhost:8089/pilot/delete/3</a>
            </td>
      </tr>
      <tr>
          <td>
              <a href="http://localhost:8089/flight/delete/4">http://localhost:8089/flight/delete/4</a>
            </td>
            <td>
                <a href="http://localhost:8089/plane/delete/4">http://localhost:8089/plane/delete/4</a>
              </td>
              <td>
                  <a href="http://localhost:8089/pilot/delete/4">http://localhost:8089/pilot/delete/4</a>
                </td>
      </tr>
      <tr>
          <td>
              <a href="http://localhost:8089/flight/details/1">http://localhost:8089/flight/details/1</a>
            </td>
          <td>
              <a href="http://localhost:8089/plane/details/1">http://localhost:8089/plane/details/1</a>
            </td>
          <td>
              <a href="http://localhost:8089/pilot/details/1">http://localhost:8089/pilot/details/1</a>
            </td>
      </tr>
      <tr>
          <td>
              <a href="http://localhost:8089/flight/details/2">http://localhost:8089/flight/details/2</a>
            </td>
            <td>
                <a href="http://localhost:8089/plane/details/2">http://localhost:8089/plane/details/2</a>
              </td>
              <td>
                  <a href="http://localhost:8089/pilot/details/2">http://localhost:8089/pilot/details/2</a>
                </td>
      </tr>
      <tr>
          <td>
              <a href="http://localhost:8089/flight/details/3">http://localhost:8089/flight/details/3</a>
            </td>
          <td>
              <a href="http://localhost:8089/plane/details/3">http://localhost:8089/plane/details/3</a>
            </td>
          <td>
              <a href="http://localhost:8089/pilot/details/3">http://localhost:8089/pilot/details/3</a>
            </td>
      </tr>
      <tr>
          <td>
              <a href="http://localhost:8089/flight/details/4">http://localhost:8089/flight/details/4</a>
            </td>
            <td>
                <a href="http://localhost:8089/plane/details/4">http://localhost:8089/plane/details/4</a>
              </td>
              <td>
                  <a href="http://localhost:8089/pilot/details/4">http://localhost:8089/pilot/details/4</a>
                </td>
      </tr>
    </i>  </table>
    
      <br>
      <br>
  </br>
</br>

    <table style="width:100%">
      <i>         <tr>
          <th>GET JSON for Flights</th>
          <th>GET JSON for Planes</th> 
          <th>GET JSON for pilots</th>
        </tr>
        <tr>
            <td>
                <a href="http://localhost:8089/flight/findall">http://localhost:8089/flight/findall</a>
              </td>
            <td>
                <a href="http://localhost:8089/plane/findall">http://localhost:8089/plane/findall</a>
              </td>
            <td>
                <a href="http://localhost:8089/pilot/findall">http://localhost:8089/pilot/findall</a>
              </td>
             
      
        </tr>
        <tr>
            <td>
                <a href="http://localhost:8089/flight/findone/1">http://localhost:8089/flight/findone/1</a>
              </td>
              <td>
                  <a href="http://localhost:8089/plane/findone/1">http://localhost:8089/plane/findone/1</a>
                </td>
                <td>
                    <a href="http://localhost:8089/pilot/findone/1">http://localhost:8089/pilot/findone/1</a>
                  </td>
        </tr>
        <tr>
            <td>
                <a href="http://localhost:8089/flight/findone/2">http://localhost:8089/flight/findone/2</a>
              </td>
            <td>
                <a href="http://localhost:8089/plane/findone/2">http://localhost:8089/plane/findone/2</a>
              </td>
            <td>
                <a href="http://localhost:8089/pilot/findone/2">http://localhost:8089/pilot/findone/2</a>
              </td>
        </tr>
        <tr>
            <td>
                <a href="http://localhost:8089/flight/findone/3">http://localhost:8089/flight/findone/3</a>
              </td>
              <td>
                  <a href="http://localhost:8089/plane/findone/3">http://localhost:8089/plane/findone/3</a>
                </td>
                <td>
                    <a href="http://localhost:8089/pilot/findone/3">http://localhost:8089/pilot/findone/3</a>
                  </td>
        </tr>
        <tr>
            <td>
                <a href="http://localhost:8089/flight/findone/4">http://localhost:8089/flight/findone/4</a>
              </td>
            <td>
                <a href="http://localhost:8089/plane/findone/4">http://localhost:8089/plane/findone/4</a>
              </td>
            <td>
                <a href="http://localhost:8089/pilot/findone/4">http://localhost:8089/pilot/findone/4</a>
              </td>
        </tr>
      </i>      </table>

       
       
    </div>
  </div>
</div>