<br/>
<br/>
<h2>Confirm deletion of pilot</h2>
<br/>
<br/> ID:
<%=  pilot._id %>
  <br> lastName:
  <%=pilot.lastName%>
    <br/> firstName:
    <%=pilot.firstName%>
      <br/> hoursFlown:
      <%=pilot.hoursFlown%>
      <br/> isCurrent:
      <%=pilot.isCurrent%>
        <br/>
        

            <form method="get" action="/pilot">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/pilot/delete/<%= pilot._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>