<br/>
<br/>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2}
    
    th {
        background-color: rgb(150, 174, 182);
        color: white;
    }
    </style>
<div class="container-fluid">
  <div class=row>

    <div class="col col-md-12">
      
      <a href="pilot/create" class="btn btn-primary new">
        Create a new pilot
      </a>
      
      <h2>Recent pilot entries</h2>
      <p>There are
        <%= pilots.query.length %> pilots.
          <br/>
      </p>
      <table class="table table-dark">
      <tr><th>Details</th>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Hours Flown</th>
        <th>Current</th>
        <th>More Options Options</th>
      </tr>
      
      <% for (var i = pilots.query.length-1; i >= 0; i--) {   
        pilot = pilots.query[i];   %>
        <!-- <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body"> -->
           <tr> <th> <%= pilot.Identity%></br></th>
           
           <th> <%=  pilot._id %></th>
            
           <th><%=pilot.lastName%></th>
              
            <th>  <%=pilot.firstName%></th>
                
                <th><%=pilot.hoursFlown%></th>
                
                <th><%=pilot.isCurrent%></th>
                         <th> <a href="/pilot/delete/<%= pilot._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/pilot/details/<%= pilot._id %>" class="btn btn-info"> Details </a>
                         <a href="/pilot/edit/<%= pilot._id %>" class="btn btn-warning"> Edit </a> </th></tr>
                      <td><br></td>
          </div>
        </div>
        <% } %>
      </table>
    </div>
  </div>
</div>