<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="lastName">lastName</label>
        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= pilot.lastName %>" required>
      </div>
      <div class="form-group">
        <label for="firstName">firstName</label>
        <input type="text" class="form-control" id="firstName" name="firstName" value="<%= pilot.firstName %>">
      </div>
      <div class="form-group">
        <label for="hoursFlown">hoursFlown</label>
        <input  type="number" class="form-control" id="hoursFlown" name="hoursFlown" value="<%= pilot.hoursFlown %>" required>
      </div>
      <div class="form-group">
        <label for="isCurrent">isCurrent</label>
        <input  type="text" class="form-control" id="isCurrent" name="isCurrent" value="<%= pilot.isCurrent %>" required>
      </div>
    </div>
  </div>
  <hr>
  
  
  
 
  </script>