<br/>
<br/>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2}
    
    th {
        background-color: rgb(150, 174, 182);
        color: white;
    }
    </style>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="flight/create" class="btn btn-primary new">
        Create a new flight
      </a>
      <h2>Recent flight entries</h2>
      <p>There are
        <%= flights.query.length %> flights.
          <br/>
      </p>
      <table class="table table-dark">
          <tr><th>Details</th>
            <th>ID</th>
            <th>Name</th>
            <th>startingPoint</th>
            <th>endingPoint:</th>
            <th>startingTime</th>
            <th>durationHours</th>
            <th>numPassengers</th>

            <th>pilotId</th>
            <th>planeId</th>
            
            <th>More Options Options</th>
          </tr>
      <% for (var i = flights.query.length-1; i >= 0; i--) {   
        flight = flights.query[i];   %>
        <!-- <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body"> -->
           <tr><th> <%= flight.Identity%></th>
            
           <th> <%=  flight._id %></th>
            
<th>  <%=flight.name%></th>
    
 <th>  <%=flight.startingPoint%></th> 
      
    <th>  <%=flight.endingPoint%></th> 
      
    <th>  <%=flight.startingTime%></th> 
    
    <th>  <%=flight.durationHours%></th>
      
      <th><%=flight.numPassengers%></th>
      
      <th><%=flight.pilotId%></th>
    
     <th> <%=flight.planeId%></th>
                  <th>
                          <a href="/flight/delete/<%= flight._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/flight/details/<%= flight._id %>" class="btn btn-info"> Details </a>
                          <a href="/flight/edit/<%= flight._id %>" class="btn btn-warning"> Edit </a></th></tr>
          </div>
        </div>
        <% } %>
      </table>
    </div>
  </div>
</div>