<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= flight.name %>" required>
      </div>
      <div class="form-group">
        <label for="startingPoint">StartingPoint</label>
        <input type="text" class="form-control" id="startingPoint" name="startingPoint" value="<%= flight.startingPoint %>">
      </div>
      <div class="form-group">
        <label for="endingPoint">EndingPoint</label>
        <input type="text" class="form-control" id="endingPoint" name="endingPoint" value="<%= flight.endingPoint %>" required>
      </div>
      <div class="form-group">
        <label for="startingTime">StartingTime</label>
        <input type="text" class="form-control" id="startingTime" name="startingTime" value="<%= flight.startingTime %>">
      </div>
      <div class="form-group">
        <label for="durationHours">DurationHours</label>
        <input type="text" class="form-control" id="durationHours" name="durationHours" value="<%= flight.durationHours %>">
      </div>
      <div class="form-group">
        <label for="numPassengers">NumPassengers</label>
        <input type="text" class="form-control" id="numPassengers" name="numPassengers" value="<%= flight.numPassengers %>">
      </div>
      <div class="form-group">
        <label for="pilotId">PilotId</label>
        <input type="text" class="form-control" id="pilotId" name="pilotId" value="<%= flight.pilotId %>">
      </div>
      <div class="form-group">
        <label for="planeId">PlaneId</label>
        <input type="text" class="form-control" id="planeId" name="planeId" value="<%= flight.planeId %>">
      </div>
    </div>
  </div>

  
  
  
  <!-- // END CLIENT SIDE CODE  (close the script tag) -->
  </script>