<br/>
<br/>
<h2>plane details</h2>
<br/>
<br/> ID:
<%=  plane._id %>
<br> tailNumber:
<%=plane.tailNumber%>
  <br/> numSeats:
  <%=plane.numSeats%>
    <br/> fuelCapacity:
    <%=plane.fuelCapacity%>
        <br/>
        
            <br/>
            <form method="get" action="/plane">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>