<br/>
<br/>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2}
    
    th {
        background-color: rgb(150, 174, 182);
        color: white;
    }
    </style>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="plane/create" class="btn btn-primary new">
        Create a new plane
      </a>
      <h2>Recent plane entries</h2>
      <p>There are
        <%= planes.query.length %> planes.
          <br/>

        </p>
        <table class="table table-dark">
            <tr><th>Details</th>
              <th>ID</th>
              <th>TailNumber</th>
              <th>Number of Seats</th>
              <th>Fuel Capacity</th>
              
              <th>More Options Options</th>
            </tr>
      <% for (var i = planes.query.length-1; i >= 0; i--) {   
        plane = planes.query[i];   %>
        <!-- <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body"> -->
          
          <tr>  <th> <%= plane.Identity%></th>
           
           <th> <%=  plane._id %></th>
           
           
           <th><%=plane.tailNumber%></th>
           
          <th>  <%=plane.numSeats%></th>
              
              <th><%=plane.fuelCapacity%></th>
                   
                     <th>     <a href="/plane/delete/<%= plane._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/plane/details/<%= plane._id %>" class="btn btn-info"> Details </a>
                          <a href="/plane/edit/<%= plane._id %>" class="btn btn-warning"> Edit </a></th></tr>
          </div>
        </div>
        <% } %>
      </table>
    </div>
  </div>
</div>