<br/>
<br/>
<br/>
<h1>Vyshnavi Srilaxmi Thannir</h1>
<h2>Working on Planes and Pilots</h2>
<br/>
<br/>

<body class="rr" style="background-position: centre;background-repeat:no-repeat;background-size:cover"background="http://s1.1zoom.me/b5050/878/Passenger_Airplanes_Learjet_45_Flight_Clouds_538246_1920x1080.jpg">			
 
    

<h3> <i>Vyshnavi Srilaxmi Thannir's Profile<i></h3>

<article>

<header><br/><img class="img-circle" src="https://lh3.googleusercontent.com/fjppiWzuLxBup7HozJn7q1PSyZ73anySsz3jNJREykhQETi_zzD5FqO0ISt6qE7wfmOUrX4=s85"></header>

<section id="future-section"><header><br><h3>Current :</h3></header>
<p>I am a fresher working on my Masters in Applied Computer Science(Spring 2018).</p>
</section>
        
<section id="past-section"><header><h3>Background :</h3></header>

<p>I am from Telangana, India and I have completed my Bachelors in Information Technology from Sreenidhi Institute of Science & Technology in May 2015 during my final year of Bachelors i got selected On-Campus in Capgemini and trained as Systems Engineer
and Worked as Senior Analyst(Senior Systems Engineer) for 2.2 years from Oct 2015 to Dec 2017.</p>
</section>

<section id="future-section"><header id=section-header><h3>Plans :</h3></header>

<p>I want to enhance my skills more technically in all the core subjects and also develop myself as a rounded individual both Technically and Socially and want to Work as a Tech Architect in one of the Multi National Company.</p>
</section>	

</article>

<aside><!-- aside is used for a brief descriptions and related to the main content -->
<header class="section-header"><em>Other Interests:</em></header>
    <ol><br><br>
    
        <li>Playing Volleyball</li>
        <li>Basketball</li>
        <li>Reading Articles</li>
    </ol>
</aside>
</body>